<div class="hero_form_comp">
    <div class="container" > 
        <form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="form">
      
            <div class="row">
                <div class="col">
                    <h1>Biography</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Hero Name" formControlName="name">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Hero Full Name" formControlName="fullName">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Alter Egos" formControlName="alterEgos">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Publisher" formControlName="publisher">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Alignment" formControlName="alignment">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Power</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="number" placeholder="Intelligence" formControlName="intelligence">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="number" placeholder="Strength" formControlName="strength">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="number" placeholder="Speed" formControlName="speed">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="number" placeholder="Durability" formControlName="durability">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="number" placeholder="Power" formControlName="power">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Apparience</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Gender" formControlName="gender">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Race" formControlName="race">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Height" formControlName="height">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Eye Color" formControlName="eyeColor">
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="hero_form_comp_form-element">
                        <input matInput type="text" placeholder="Hair Color" formControlName="hairColor">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Image Url</h1>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="hero_form_comp_form-element">
                    <input matInput type="text" placeholder="Img Url" formControlName="imgUrl">
                  </mat-form-field>
            </div>
          
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!heroForm.valid">{{submitButtonText}}</button>
          </div>
      
        </form>
      </div>
</div>



